.popup{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    position: fixed; 
    top:0;
    left:0;
    font-family: Arial;
    transition: all .7s;
    opacity: 0;
    visibility: hidden;

    &:target{
        opacity: 1;
        visibility: visible;

    }

    &__content{
        height: 22rem;
        background-color: white;
        margin: 10rem;
        border-radius: .7rem;
        display: table;
        overflow: hidden;
        padding: 1.5rem

    }
    &__images{
        display: table-cell;
        width: 39.99999999999%;
        vertical-align: middle;

    }
    &__img{
        display: block;
        height: 12rem;
        width: 20rem;
    }

    &__text{
        margin-bottom: 4rem;
        margin-right: 6rem;
        vertical-align: middle; 
        width: 60.99999999999%;
        display: table-cell;
        margin-bottom: 4rem;

    }

    &__title{
        display:block;
        font-size: 2rem;
            
    }
    &__exit{
        position: relative;
        top: 1rem;
        left: 38rem;
        text-decoration: none;
        color:  #9198e5;
        font-size: 1.5rem;

        &:hover{
            color: #e66465;
        }

    }
    &__book{
        display: block;
        margin-top: 4rem;
    }

}